@font-face {
  font-family: "friednuget";
  src: url("/images/friednuget.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 50px;
  padding: 10px 0;
  background-color: rgb(36, 36, 36);
}

.header-section {
  background-image: url("/images/burger-joint.jpg");
  background-size: cover;
  background-position: 0px -65px;
  color: white;
  padding: 35px;
  width: 400px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 15px 1px #c9760a;
}

.menu {
  height: 550px;
  width: 400px;
  padding: 60px;
  margin: 0 auto;
  background-color: rgb(211, 211, 211);
  border-radius: 0 0 20px 20px;
  position: relative;
  box-shadow: 0px 0px 15px 1px #c9760a;
}

div.menu-item {
  margin: -40px 0 40px -25px;
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #dedede;
  padding: 15px;
  size: 100px;
}

.cart-line-item,
.total_line_item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dedede;
  padding: 50px 0px;
}

.cart-line-item h3 {
  margin-top: 5px;
  font-family: "friednuget";
}

.cart {
  width: 400px;
  height: 390px;
  padding: 46px;
  margin: 0 auto;
  background-color: rgb(211, 211, 211);
  padding-top: 10px;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  bottom: 30px;
}

.cart-line-item {
  border: none;
  padding: 0px;
}

.total_line_item {
  border-top: 2px solid #393333;
  border-bottom: none;
  padding-top: 20px;
  margin-top: 30px;
}

.modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 445px;
  width: 430px;
  box-shadow: 0px 0px 6px 2px black;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1;
}

.modal h2 {
  font-size: 23px;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.discountPopup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fcd34d;
  color: rgb(0, 0, 0);
  width: 270px;
  height: 200px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #dfdede;
  z-index: 2;
}

.modal-close-btn-container {
  text-align: right;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 50px;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #757575;
  color: #757575;
  font-size: 1rem;
}

.rating-message,
.success-message {
  padding: 15px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 350px;
  background-color: #c9760a;
  color: whitesmoke;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #373737;
  font-family: "friednuget";
}

/* Text */
h1 {
  margin-right: 5px;
  font-size: 30px;
  color: #d7b623;
  text-shadow: #000000 3px 1px 2px;
}

h2 {
  font-size: 18px;
  color: #0b0b0b;
  font-family: "friednuget";
}

.header-section h1 {
  font-family: "friednuget";
  font-size: 55px;
  color: #e8901d;
  text-shadow: #000000 3px 2px 2px;
  display: flex;
  justify-content: space-around;
}

.header-section p {
  font-family: "friednuget";
  font-size: 28px;
  color: #e8901d;
  text-shadow: #000000 3px 1px 1px;
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 1.375rem;
}

.item-emoji {
  margin-left: -35px;
  margin-top: -3px;
  width: 50px;
  height: 50px;
  opacity: 72%;
}

.item_name {
  margin-left: 12px;
  margin-top: -5px;
  font-size: 20px;
  font-family: "friednuget";
}

.item-ingredients {
  margin-left: 12px;
  margin-top: 5px;
  color: #6e6e6e;
  font-size: 16px;
}

.item-price,
.cart-item-price,
.total_item_price {
  margin: 5px 0px 0px 12px;
  font-size: 16px;
  font-weight: 600;
  font-family: "friednuget";
}

.total_item_price {
  margin-top: -3px;
}

.cart-item-price,
.total_item_price {
  font-size: 14px;
}

.cart-item-price,
.total_item_price {
  margin-left: auto;
}

.cart-title {
  font-size: 1.75rem;
  font-weight: 400;
}

.discount_description {
  font-size: 1.6rem;
}

/* Buttons */
#closebtn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 80%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

#closebtn:not(:disabled):hover,
#closebtn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

#closebtn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.discountButtons {
  display: flex;
  position: relative;
  bottom: -23px;
  left: 190px;
  gap: 5px;
}

#discountInput {
  margin: 0;
  width: 75px;
  height: 20px;
  padding: 3px;
}

#applyDiscount {
  width: 55px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.rating {
  display: none;
  display: flex;
  direction: row-reverse;
  justify-content: center;
  position: relative;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: #ffdd00;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #ffdd00;
}

.add-item-btn {
  width: 30px;
  height: 30px;
  border: 1.5px solid #e8901d;
  background: none;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 200;
  color: #3c3c3c;
  margin-left: auto;
  margin-top: 10px;
}

.add-item-btn:hover {
  background: #dedede;
  cursor: pointer;
}

.remove-item-btn {
  color: #949494;
  font-size: 0.75rem;
  border: none;
  background: none;
  padding-top: 5px;
  margin: 0 0 0 10px;
}

.remove-item-btn:hover {
  color: red;
  cursor: pointer;
}

.complete-order-btn,
.pay-btn {
  width: 300px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 700;
  background-color: #fcd34d;
  border: 2px inset #000000;
  border-radius: 4px;
  margin-top: -30px;
}

.pay-btn {
  width: 385px;
  margin: 10px 20px;
}

.modal-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: red;
  cursor: pointer;
}

.discount_title {
  font-size: 2rem;
  margin-top: 0;
}

.hidden {
  display: none;
}
